img {
  width: 100%;
  height: auto;
  border-radius: 2px;
  display: block;
}

.skill {
  font-size: $size-s;
  text-transform: uppercase;
  padding: $size-2xs;
  margin-left: $size-2xs;
}

.progress {
  width: 100%;
  background: $color--third;
  height: 6px;
  border-radius: 4px;
  display: grid;
  align-items: center;
  padding: 0px 2px;
  &__bar {
    height: 3px;
    background-color: $color--text;
    border-radius: 20px;
  }
}