* {
	box-sizing: border-box;
}

body {
	background: $color--bg;
  max-width: 1024px;
  margin: 4vw auto;
}

.main {
  padding: 4vw;
  padding-bottom: $size-3xl;
  margin: 4vw;
  border: 1px solid $color--third;
  border-radius: $border-radius;
}

section {
  margin-left: 4vw;
}

.flex {
  display: flex;
  flex-wrap: wrap;
  &__item {
    margin: 0 $size-xs;
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      margin-right: 0;
    }
  }
}