body {
  font-family: 'Open Sans', Arial, Helvetica, sans-serif;
  color: #131416;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  margin-top: $size-l;
  margin-bottom: $size-xs;
  font-family: 'Gothic A1', Arial, Helvetica, sans-serif;
}

p {
  line-height: 1.5;
  max-width: 75ch;
  margin-top: $size-l;
}

.subheading {
  font-size: 13px;
  margin-top: $size-xs;
}