body {
    color: $color--base;
    font-family: $font-family--primary;
    margin: $size--xl $size--fn;
}

h1 {
    font-size: $size--xl;
    font-weight: $weight--black;
}
h2 {
    font-size: $size--l;
}
h3 {
    font-size: $size--xl;
}
h4 {
    font-size: $size--xl;
}
h5 {
    font-size: $size--xl;
}
h6 {
    font-size: $size--xl;
}
p {
    font-size: $size--fn;
}