body {
  font-family: 'Gothic A1', Arial, Helvetica, sans-serif;
  color: $color--text;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 900;
  margin-top: $size-xl;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  span {
    margin: $size-xs $size-xs $size-xs 0;
    &:last-child {
      margin-right: 0;
    }
  }
}

h1 {
  font-size: $size-xl;
  text-transform: capitalize;
}

h2 {
  font-size: $size-2xl;
  color: $color--third;
  margin-top: $size-3xl;
}
@media only screen and (max-width: 600px) {
  h2 { font-size: $size-xl; }
}

h3 {
  margin-top: $size-l;
  line-height: 1.25;
}

p {
  line-height: 1.32;
  max-width: 75ch;
  margin-top: $size-s;
  font-family: 'Open Sans', sans-serif;
}

.subtitle {
  font-weight: normal;
  font-size: $size-s;
  color: $color--text;
}

.title {
  margin: 0;
  margin-right: $size-xs;
}