// Typography
$font-family--primary: 'Gothic A1', sans-serif;

// Colors
$color--black: #131416;

// Size
$size-2xs: 4px;
$size-xs: 8px;
$size-s: 12px;
$size-m: 16px;
$size-l: 24px;
$size-xl: 36px;
$size-2xl: 52px;
$size-3xl: 72px;